.AppHeader{
  height: 80px;
  background-color: rgb(249, 214, 170);
}

.App {
  text-align: center;
  background-color: antiquewhite;
}

.allCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hFull{
  height: calc(100vh - 80px);
}

.aboutText{
  width: 50%;
  text-align: justify;
  font-size: 20px;
  padding: 10px;
  background-color: rgb(250, 214, 170);
  border: 5px solid rgb(250, 200, 100);
  border-radius: 30px;
}

.submitBtn{
  border: 5px solid rgb(250, 200, 100);
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(250, 214, 170);
}

.submitBtn:hover{
  background-color: rgb(250, 200, 100);
  border: 5px solid rgb(250, 200, 100);
}